/* http://meyerweb.com/eric/tools/css/reset/ 

   v2.0 | 20110126

   License: none (public domain)

*/



html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed, 

figure, figcaption, footer, header, hgroup, 

menu, nav, output, ruby, section, summary,

time, mark, audio, video {

    margin: 0;

    padding: 0;

    border: 0;

    font-size: 100%;

    font: inherit;

    vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 

footer, header, hgroup, menu, nav, section {

    display: block;

}

body {

    line-height: 1;

}

ol, ul {

    list-style: none;

}

blockquote, q {

    quotes: none;

}

blockquote:before, blockquote:after,

q:before, q:after {

    content: '';

    content: none;

}

table {

    border-collapse: collapse;

    border-spacing: 0;

}

 



html {
  height: 100%;
}
body {
  background: url('/images/background.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.contents {
    width: 100%;
    padding: 3%;
}

/* header */
.header {
  padding: 20%;
  text-align: right;
}
.header h1 {
    font-family: 'Pacifico', cursive;
    font-size: 70px;
}
.header p {
    text-transform: uppercase;
}
/* nav */
#navbar {
  overflow: hidden;
  background-color: #ffffff;
}
#navbar a {
  float: left;
  display: block;
  color: #7f78d2;
  text-align: center;
  padding: 14px 16px;
  margin: 0 2%;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Kalam', cursive;

}
#navbar a:hover {
  background-color: #f4eeff;
}
#navbar a.active {
  border-bottom: 5px solid #7f78d2;
  color: #7f78d2;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .card {
  padding-top: 60px;
}

/* contents */
/* footer */
/*
#sticky-footer {
  flex-shrink: none;
}
*/
